<span class="{{ thisRating<1 ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'}}"></span>
<span class="{{ thisRating<2 ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'}}"></span>
<span class="{{ thisRating<3 ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'}}"></span>
<span class="{{ thisRating<4 ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'}}"></span>
<span class="{{ thisRating<5 ? 'glyphicon glyphicon-star-empty' : 'glyphicon glyphicon-star'}}"></span>
