extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
         small &nbsp;#{pageHeader.strapline}

  .row
    .col-xs-12.col-sm-8(ng-controller="courseListCtrl as ctrl")
      .error {{ message }}
      .row.list-group
        .col-xs-12.list-group-item(ng-repeat="course in ctrl.courses")
          h4
            a(href=`/course/{{ course._id }}`) {{ course.name }}
            small {{ course.rating }}
            span.badge.pull-right.badge-default {{ course.distance }}
          p.address {{ course.address }}
          p
            span.label.label-warning.label-group(ng-repeat="group in course.groups")
              | {{ group }}
    .col-xs-12.col-sm-4
      p.lead= sidebar
