extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1 LMS
         small &nbsp;Оберіть курси, які вам потрібні

  .row
    .col-xs-12.col-sm-8
      p Зона переліку
    .col-xs-12.col-sm-4
      p.lead Цей сервіс допоможе вам обрати потрібні шляхи навчання
