doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')

  body
    block content

    script(src='/angular/angular.js')
    script(src='/jquery/jquery.js')
    script(src='/bootstrap/js/bootstrap.js')
