doctype html
html(ng-app="kkangst")
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/amelia.bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')

  body(ng-controller="mainCtrl as main")
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') LMS
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/about/') Про LMS
    .container
      div(ng-view)
        block content

      footer
        .row
          .col-xs-12
            small &copy; | {{ main.author }} {{ main.year }}


    script(src='/js/vendor/angular/angular.js')
    script(src='/js/vendor/angular/angular-route.js')
    script(src='/js/vendor/jquery/jquery.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/js/app.js')
