doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/assets/bootstrap/dist/css/bootstrap.css')

  body
    block content

    script(src='/assets/angular/angular.js')
    script(src='/assets/jquery/dist/jquery.js')
    script(src='/assets/bootstrap/dist/js/bootstrap.js')
